mixin characteristics-element
  -
    var characteristicsList = [
      {
        name: "Характеристики",
        imgSrc: "gears",
        id: "table",
        className: "active"
      }, {
        name: "Описание",
        imgSrc: "descr",
        id: "descr",
        className: ""
      }
    ]
  ul.characteristics__list
    each item in characteristicsList
      li(class=`characteristics__item ${item.className}`, data-id=`${item.id}`)
        img(src=`./images/characteristics/${item.imgSrc}.black.png`
          alt="characteristics"
          class="characteristics__img-black")
        img(src=`./images/characteristics/${item.imgSrc}.png`
          alt="characteristics"
          class="characteristics__img")
        span.characteristics__name= item.name
