mixin tab-element
  -
    var characteristicsList = [
      {
        name: "Характеристики",
        imgSrc: "gears",
        id: "table",
        className: "active"
      }, {
        name: "Описание",
        imgSrc: "descr",
        id: "descr",
        className: ""
      }
    ]
  ul.tabs__nav
    each item in characteristicsList
      li(class=`tabs__item ${item.className}`, data-id=`${item.id}`)
        img(src=`./images/characteristics/${item.imgSrc}.black.png`
          alt="tabs"
          class="tabs__img-black")
        img(src=`./images/characteristics/${item.imgSrc}.png`
          alt="tabs"
          class="tabs__img")
        span.tabs__name= item.name
