include basis
mixin catalog-element
  -
    var propItems1 = [
      {
        name: "Вакуумное подметально-уборочное приспособление",
        price: "245 000",
        imgSrc: "Item1.png",
        lineSrc: "Line1.png"
      }, {
        name: "Распределитель соли и песка",
        price: "320 000",
        imgSrc: "Item2.png",
        lineSrc: "Line2.png"
      }
    ];
    var propItems2 = [
      {
        name: "Передняя щетка",
        price: "199 000",
        imgSrc: "Item6.png",
        lineSrc: "Line8.png"
      }, {
        name: "Бункеровоз",
        price: "375 000",
        imgSrc: "Item7.png",
        lineSrc: "Line7.png"
      }
    ];
    var propItems3 = [
      {
        name: "Косилки",
        price: "400 000",
        imgSrc: "Item3.png",
        lineSrc: "Line3.png"
      }, {
        name: "Снежные плуги",
        price: "45 000",
        imgSrc: "Item4.png",
        lineSrc: "Line4.png"
      }
    ];
    var propItems4 = [
      {
        name: "Шнекоротор",
        price: "132 990",
        imgSrc: "Item5.png",
        lineSrc: "Line5.png"
      }, {
        name: "Переднее приспособление для мойки",
        price: "280 000",
        imgSrc: "Item8.png",
        lineSrc: "Line6.png"
      }
    ];

  .wrapper_blocks
    ul.left-block
      each item in propItems1
        li.block_item
          a(href="#")
            img(src=`./images/itemImg/${item.imgSrc}`
              alt="product"
              class="block_item__img")
          .block_item__about
            a(href="#"
              class="block_item__name")= item.name
            span(class="block_item__price")= item.price + " ₽"
          img(src=`./images/line/${item.lineSrc}`
            alt="line to product"
            class="block_item__line")

    +basis-element

    ul.right-block
      each item in propItems2
        li.block_item
          a(href="#")
            img(src=`./images/itemImg/${item.imgSrc}`
              alt="product"
              class="block_item__img")
          .block_item__about
            a(href="#"
              class="block_item__name")= item.name
            span(class="block_item__price")= item.price + " ₽"
          img(src=`./images/line/${item.lineSrc}`
            alt="line to product"
            class="block_item__line")

  ul.bottom-block
    .wrapper-block_item.bottom-left
      each item in propItems3
        li.block_item
          a(href="#")
            img(src=`./images/itemImg/${item.imgSrc}`
              alt="product"
              class="block_item__img")
          .block_item__about
            a(href="#"
              class="block_item__name")= item.name
            span(class="block_item__price")= item.price + " ₽"
          img(src=`./images/line/${item.lineSrc}`
            alt="line to product"
            class="block_item__line")
    .wrapper-block_item.bottom-right
      each item in propItems4
        li.block_item
          a(href="#")
            img(src=`./images/itemImg/${item.imgSrc}`
            alt="product"
            class="block_item__img")
          .block_item__about
            a(href="#"
            class="block_item__name")= item.name
            span(class="block_item__price")= item.price + " ₽"
          img(src=`./images/line/${item.lineSrc}`
          alt="line to product"
          class="block_item__line")

